<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/dashboard.css')}}">

    <title>Document</title>
</head>
<body>
    <h1> Hello {{username}}</h1>
    <a href="/logout">Logout</a>


    <div class="newTaskDiv">
    <form  method="POST">
        <input type="text" name="todo_task" placeholder="Enter new task" required>

        <button type="submit">Add Task</button>

    </form>
</div>


    {% for task in tasks%}
    <div class="taskDiv">
    <li>
        <form action="/togglecompletion/{{task.id}}" method="pOST">
            <input type="checkbox" {% if task.is_complete %} checked {% endif %} onchange="this.form.submit()">
        </form>

    <span class="{% if task.is_complete %}completed-task{% endif %}"> {{task.task_name}}</span>
        <form action="/delete/{{task.id}}" method="POST">
            <button type="submit">Delete</button>

        </form>
    </li>
</div>
    {% endfor%}
</body>
</html>